<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário NAPESE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario_napese.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="shortcut icon" type="imagex/png" href="{{ url_for('static', filename='images/logo_subfooter.png') }}">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery Mask Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <!-- Seu arquivo de validação -->
    <script src="{{ url_for('static', filename='js/form-validation.js') }}"></script>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" style="position: relative; padding-right: 2rem; margin-bottom: 1rem;">
                    {{ message }}
                    <button 
                        style="position: absolute; right: 0.7rem; background: none; border: none; font-size: 1.2rem; cursor: pointer;" 
                        onclick="fecharAlerta(this)">
                        &times;
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="napese-form-container">
        <h2>Formulário NAPESE</h2>
        
        <form method="POST" action="{{ url_for('formulario_napese') }}">
            {{ form.csrf_token }}
            
            <!-- Progress Bar -->
            <div class="progress-bar">
                <div class="progress-step active">1</div>
                <div class="progress-step">2</div>
                <div class="progress-step">3</div>
                <div class="progress-step">4</div>
                <div class="progress-step">5</div>
            </div>
            <!-- Etapa 0: Introdução -->
            <div class="form-step active">
                <h3>Ficha para solicitação de atendimento</h3>
                    <p class="intro-text">Em primeiro lugar, gostaríamos de convidá-lo para conhecer um pouco do NAPESE e de informá-lo
                        sobre o trabalho que desenvolvemos aqui.<p><br>

                       <p class="intro-text"> O <b>NAPESE</b> é um núcleo da Associação Brasileira do Trauma (ABT) formado por proJssionais
                        praticantes do método de resolução de trauma chamado Somatic Experiencing® (SE™). A ABT é a
                        única entidade autorizada e responsável por ensinar o método SE™ no Brasil. </p><br>

                        <p class="intro-text">O método <b>SE™</b> foi desenvolvido inicialmente para o tratamento de transtorno de estresse póstraumático e posteriormente foi ampliado como uma abordagem terapêutica para o manejo de
                        diversas situações traumáticas e transtornos mentais. É uma abordagem que se apoia na leitura e na
                        consciência de nosso corpo, especialmente nos sinais que indicam como está funcionado nosso
                        sistema nervoso autônomo. Utilizando a percepção do corpo, de emoções e pensamentos, buscamos
                        reencontrar o caminho natural para estados de maior regulação e equilíbrio. (Para saber mais
                        sobre <b>SE™</b> visite a página <a href="https://www.traumatemcura.com.br/somatic-experiencing/oque-e" target="_blank">https://www.traumatemcura.com.br/somatic-experiencing/oque-e</a>).</p><br>
                        <p class="intro-text">
                        O <b>NAPESE</b> tem como <b>objetivos</b>:</p>

                        <p class="intro-text">1- Viabilizar e intermediar atendimento a pessoas que apresentem sintomas de transtorno de estresse
                        pós-traumático e que estejam em situações de fragilidade econômica ou social.</p>

                        <p class="intro-text">2- Desenvolver subsídios para a pesquisa e aprendizagem no método de resolução de trauma Somatic
                        Experiencing®.</p>

                        <p class="intro-text">3- Propiciar aos egressos da formação em SE™ oportunidades de prática supervisionada para seu
                        desenvolvimento proJssional em SE™.</p><br>

                        <p class="intro-text">Acolhemos pessoas com idade igual ou superior a 18 anos. Dadas as características do programa,
                        algumas vezes poderemos avaliar que os sintomas apresentados não estão de acordo com a
                        capacidade e perJl de atendimento dos terapeutas cadastrados no NAPESE. Essa triagem inicial é
                        feita através do preenchimento de um questionário e, em alguns casos, de entrevista.</p>
                        <p class="intro-text">
                        Dependendo do número de inscritos e de terapeutas disponíveis, poderá haver uma fila de espera.
                        Quando isso ocorrer, os inscritos serão avisados.</p><br>
                        <p class="intro-text">
                        <b>Para os clientes admitidos após a triagem inicial, o atendimento pelos terapeutas cadastrados no
                        NAPESE:</b>
                    </p>
                    <p class="intro-text">
                        1- será prestado através de 15 (quinze) sessões de aproximadamente 1 hora.
                        </p>
                        <p class="intro-text">
                        2- será conduzido por um terapeuta participante do NAPESE, com formação em SE™ concluída (SEP)
                        ou com o grau avançado 2 (pré-SEP).
                        </p>
                        <p class="intro-text">
                        3- <b>os atendimentos não são gratuitos.</b> </p>
                        <p class="intro-text">
                        Esses atendimentos terão um custo de <u>no máximo</u> R$ 120,00 por sessão, que será combinado e pago
                        diretamente ao terapeuta. Se você estiver em uma situação particular que não permita atender essas
                        condições de pagamento, envie um email para <u>napese.abt@gmail.com</u>, explicando a situação e sua
                        solicitação será avaliada.
                        </p>
                        <p class="intro-text">
                        4- os atendimentos serão realizados na modalidade on-line ou, quando possível, presencialmente no
                        consultório particular do terapeuta.
                        </p><br>
                        <p class="intro-text">
                        <b>Para ser atendido pelos terapeutas cadastrados no NAPESE, o interessado deve:
                        </b></p>
                        <p class="intro-text">
                        1- assinar o <b>Termo de Adesão e concordância com Participação em Pesquisa</b>, caso concorde com
                        seu teor, autorizando que os dados técnicos de seus atendimentos sejam utilizados nas pesquisas do
                        NAPESE. A ABT e a coordenação do NAPESE comprometem-se a não divulgar nenhum dado pessoal
                        fornecido além das autorizações que sejam expressamente fornecidas pelo interessado.
                        </p>
                        <p class="intro-text"> 
                        2- responder a um questionário de avaliação de sintomas de estresse no início e ao final do programa.</p>
                        <p class="intro-text"> 
                        OBS: A duração do programa/número de sessões não poderá ser estendida no contexto de um
                        atendimento do NAPESE.</p>
                
            </div>

            <!-- Etapa 1: Dados Pessoais -->
            <div class="form-step">
                <h3>Dados Pessoais</h3>
                <div class="form-row">
                    <div class="form-col">
                        <div class="form-group">
                            <label for="nome_completo">Nome Completo</label>
                            <input type="text" id="nome_completo" name="nome_completo" required>
                        </div>
                    </div>
                    <div class="form-col">
                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input type="text" id="cpf" name="cpf" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col">
                        <div class="form-group">
                            <label for="telefones">Telefones</label>
                            <input type="text" id="telefones" name="telefones" required>
                        </div>
                    </div>
                    <div class="form-col">
                        <div class="form-group">
                            <label for="data_nascimento">Data de Nascimento</label>
                            <input type="date" id="data_nascimento" name="data_nascimento" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col">
                        <div class="form-group">
                            <label for="cep">CEP</label>
                            <input type="text" id="cep" name="cep" required>
                        </div>
                    </div>
                    <div class="form-col">
                        <div class="form-group">
                            <label for="cidade">Cidade</label>
                            <input type="text" id="cidade" name="cidade" required readonly>
                        </div>
                    </div>
                    <div class="form-col">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <input type="text" id="estado" name="estado" required readonly>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col">
                        <div class="form-group">
                            <label for="genero">Gênero</label>
                            <input type="text" id="genero" name="genero" required>
                        </div>
                    </div>
                    <div class="form-col">
                        <div class="form-group">
                            <label for="profissao">Profissão</label>
                            <input type="text" id="profissao" name="profissao" required>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Etapa 2: Preferências e Como Conheceu -->
            <div class="form-step">
                <h3>Preferências</h3>
                <div class="">
                    <!-- Preferência de Atendimento -->
                    <div class="form-group">
                        <div class="info-box">
                            <div class="info-title">
                                <i class="fas fa-info-circle"></i>
                                Informação Importante
                            </div>
                            <div class="info-text">
                                <p>Os atendimentos são realizados <strong>prioritariamente na modalidade online</strong>.</p>
                                <p> Casos excepcionais em que exista forte preferência/necessidade de atendimento presencial poderão ser analisados conforme
                                    a disponibilidade de terapeutas. Se for esse seu caso:</p>
                                <ol>
                                    <li>Selecione sua preferência abaixo (Online ou Presencial)</li>
                                    <li>Envie um e-mail para <a href="mailto:napese@traumatemcura.com.br">napese@traumatemcura.com.br</a></li>
                                    <li>Sua solicitação será analisada conforme disponibilidade dos terapeutas</li>
                                </ol>
                            </div>
                        </div>
                        <label for="preferencia_atendimento">Preferência de Atendimento</label>
                        <select id="preferencia_atendimento" name="preferencia_atendimento" required>
                            <option value="">Selecione uma opção</option>
                            <option value="ONLINE">Online</option>
                            <option value="PRESENCIAL">Online ou Presencial</option>
                        </select>
                    </div>

                    <!-- Renda Familiar -->
                    <div class="form-group">
                        <label for="renda_familiar">Somando a sua renda com a renda das pessoas que moram com você, quanto
                            é, aproximadamente, a renda familiar mensal?</label>
                        <label class="label_observarion">Levando em consideração o atual salário mínimo R$ 1518,00 (2025)</label>
                        <select id="renda_familiar" name="renda_familiar" required>
                            <option value="SEM_RENDA">Sem renda</option>
                            <option value="ATE_1_SALARIO">Até 1 salário</option>
                            <option value="1_A_3_SALARIOS">1 a 3 salários</option>
                            <option value="3_A_6_SALARIOS">3 a 6 salários</option>
                            <option value="6_A_9_SALARIOS">6 a 9 salários</option>
                            <option value="9_A_12_SALARIOS">9 a 12 salários</option>
                            <option value="12_A_15_SALARIOS">12 a 15 salários</option>
                            <option value="ACIMA_15_SALARIOS">Acima de 15 salários</option>
                        </select>
                    </div>

                    <!-- Número de Dependentes -->
                    <div class="form-group">
                        <label for="num_dependentes">Quantas pessoas dependem dessa renda?</label>
                        <label class="label_observarion">Incluindo familiares que moram ou não com você.</label>
                        <select id="num_dependentes" name="num_dependentes" required>
                            <option value="NENHUM">Nenhum</option>
                            <option value="1_A_2">1 a 2</option>
                            <option value="3_A_5">3 a 5</option>
                            <option value="MAIS_DE_5">Mais de 5</option>
                        </select>
                    </div>
                </div>

                <h3>Como Conheceu o NAPESE</h3>
                <div class="checkbox-group">
                    <div class="checkbox-item">
                        <input type="checkbox" id="conheceu_site_trauma" name="conheceu_site_trauma">
                        <label for="conheceu_site_trauma">Site traumatemcura.com.br</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="conheceu_instagram" name="conheceu_instagram">
                        <label for="conheceu_instagram">Instagram</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="conheceu_indicacao" name="conheceu_indicacao">
                        <label for="conheceu_indicacao">Indicação</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="conheceu_treinamentos" name="conheceu_treinamentos">
                        <label for="conheceu_treinamentos">Treinamentos</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="conheceu_google" name="conheceu_google">
                        <label for="conheceu_google">Google</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="conheceu_rede_social" name="conheceu_rede_social">
                        <label for="conheceu_rede_social">Rede Social</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="conheceu_psicologo" name="conheceu_psicologo">
                        <label for="conheceu_psicologo">Psicólogo</label>
                    </div>
                    <div class="form-group">
                        <label for="conheceu_outro">Outro</label>
                        <input type="text" id="conheceu_outro" name="conheceu_outro">
                    </div>
                </div>
            </div>
<!-- Etapa 3: Histórico Médico e Acompanhamento -->
<div class="form-step">
    <h3>Sintomas e Histórico Médico</h3>
    <div class="form-row">
        <div class="form-col">
            <div class="form-group">
                <label for="sintomas_relevantes">Quais os sintomas relevantes que você tem sentido no último mês?</label>
                <textarea id="sintomas_relevantes" name="sintomas_relevantes" required></textarea>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-col">
            <div class="form-group">
                <label for="medicacoes">Toma alguma medicação? Qual?</label>
                <textarea id="medicacoes" name="medicacoes"></textarea>
            </div>
        </div>
        <div class="form-col">
            <div class="form-group">
                <label for="substancias_psicoativas">Faz Uso de substância psicoativa (álcool e outras drogas)?</label>
                <textarea id="substancias_psicoativas" name="substancias_psicoativas"></textarea>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-col">
            <div class="form-group">
                <label for="historico_acidentes">Já sofreu algum acidente?</label>
                <textarea id="historico_acidentes" name="historico_acidentes"></textarea>
            </div>
        </div>
        <div class="form-col">
            <div class="form-group">
                <label for="historico_cirurgias">Já passou por algum procedimento cirúrgico?</label>
                <textarea id="historico_cirurgias" name="historico_cirurgias"></textarea>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-col">
            <div class="form-group">
                <label for="dores">Sente algum tipo de dor (aguda ou crônica)? Se sim, descreva brevemente:</label>
                <textarea id="dores" name="dores"></textarea>
            </div>
        </div>
    </div>

    <h3>Acompanhamento Profissional</h3>
    <div class="form-row">
        <div class="form-col">
            <div class="form-group">
                <label for="acompanhamento_psiquiatrico">Tem tido acompanhamento psiquiátrico?</label>
                <select id="acompanhamento_psiquiatrico" name="acompanhamento_psiquiatrico" required>
                    <option value="SIM">Sim</option>
                    <option value="NAO">Não</option>
                    <option value="NAO_SEI">Não Sei</option>
                </select>
            </div>
        </div>
        <div class="form-col">
            <div class="form-group">
                <label for="acompanhamento_psicologico">Tem tido acompanhamento psicológico?</label>
                <select id="acompanhamento_psicologico" name="acompanhamento_psicologico" required>
                    <option value="SIM">Sim</option>
                    <option value="NAO">Não</option>
                    <option value="NAO_SEI">Não Sei</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-col">
            <div class="form-group">
                <label for="tecnicas_corporais">Já recebeu ou trabalhou com alguma técnica corporal? Se sim, qual (quais)?</label>
                <textarea id="tecnicas_corporais" name="tecnicas_corporais"></textarea>
            </div>
        </div>
    </div>
</div><!-- Etapa 4: Questionário TEPT e Vivências -->
<div class="form-step">
    <h3>Sintomas e Histórico</h3>
    <div class="form-row">
        <div class="form-col">
            <div class="form-group">
                <label for="conhece_se">Conhece o Método Somatic Experiencing®?</label>
                <select id="conhece_se" name="conhece_se" required>
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-col">
            <div class="form-group">
                <label for="motivo_procura">Qual o motivo da sua procura pelo atendimento?</label>
                <textarea id="motivo_procura" name="motivo_procura" required></textarea>
            </div>
        </div>
    </div>

    <!-- Questionário TEPT -->
    <div class="info-box questionnaire-info">
        <div class="info-title">
            <i class="fas fa-clipboard-list"></i>
            Questionário para sinalização de Transtorno de Estresse Pós-Traumático
        </div>
        <div class="info-text">
            <p>Para podermos atender você pelo NAPESE, precisamos saber se os sintomas que você vem apresentando são condizentes com o Transtorno de Estresse Pós-Traumático. Então pedimos que você preencha o questionário abaixo.</p>
            
            <div class="citation">
                <small>Versão autorizada, traduzida e adaptada para o português do Brasil em junho 2016.</small>
                <small>Autores: Flávia L. Osório, Marcos N. H. Chagas, Natalia M. Souza, Rafael G.Santos, Thiago D. A. Silva, Rafael F. Sanches, José Alexandre S. Crippa</small>
            </div>

            <div class="instructions">
                <h4>Instruções:</h4>
                <p>Este questionário pergunta sobre problemas que você possa ter tido após uma experiência muito estressante envolvendo morte real ou ameaça de morte, ferimentos graves ou violência sexual. Estas experiências podem ser algo que aconteceu diretamente com você, algo que você testemunhou, ou algo que você ficou sabendo ter acontecido com um familiar próximo ou amigo próximo.</p>
                
                <p>Alguns exemplos são:</p>
                <ul>
                    <li>Grave acidente</li>
                    <li>Incêndio</li>
                    <li>Assalto</li>
                    <li>Catástrofes (enchentes, furacão, tornado, tremor/deslizamento de terra)</li>
                    <li>Agressão ou abuso físico ou sexual</li>
                    <li>Guerra</li>
                    <li>Homicídio</li>
                    <li>Suicídio</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-col">
            <div class="form-group">
                <label for="vivenciou_trauma">Você alguma vez vivenciou este tipo de situação?</label>
                <select id="vivenciou_trauma" name="vivenciou_trauma" required>
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>
        </div>
    </div>
    <div id="detalhes-intro">
        <p class="intro-text"><b>Se voce respondeu sim à questão anterior:</b></p>
        <p class="intro-text">
            Em primeiro lugar, por favor responda a algumas perguntas sobre o pior evento que aconteceu com
            você, o qual, para este questionário, significa o evento que mais incomoda você neste
            momento. Este evento pode ser um dos exemplos acima ou alguma outra experiência
            muito estressante. Também pode ser um evento único (por exemplo, um acidente de
            carro) ou vários eventos semelhantes (por exemplo, vários eventos estressantes
            em uma catástrofe natural ou abuso sexual repetido).
        </p><br>
    </div>
    <div id="detalhes-trauma" class="form-row">
        <div class="form-col">
            <div class="form-group">
                <label for="descricao_evento">Resumidamente identifique o pior evento (se você se sentir confortável para fazer isto):</label>
                <textarea id="descricao_evento" name="descricao_evento"></textarea>
            </div>
        </div>
        <div class="form-col">
            <div class="form-group">
                <label for="tempo_decorrido">Há quanto tempo isso aconteceu?</label>
                <input type="text" id="tempo_decorrido" name="tempo_decorrido">
            </div>
        </div>
    </div>
    <div id="envolveu-morte-grupo" class="form-row">
        <div class="form-col">
            <div class="form-group">
                <label for="envolveu_violencia">Envolveu morte real ou ameaça de morte, ferimentos graves ou ameaça de ferimentos
                    graves ou violência sexual real ou ameaça de violência sexual?</label>
                <select id="envolveu_violencia" name="envolveu_violencia">
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>
        </div>
    </div>
    <div id="causas-morte-grupo" class="form-row">
        <div class="form-col">
            <div class="form-group">
                <label for="descricao_evento">Se o evento envolveu a morte de um membro próximo da família ou amigo próximo, foi
                    devido a algum tipo de acidente ou violência, ou foi devido a causas naturais?</label>
                
            </div>
            <div class="checkbox-group" style="display: flex;">
                <div class="checkbox-item">
                    <input type="checkbox" id="acidente_violencia" name="acidente_violencia">
                    <label for="acidente_violencia">Acidente ou violência</label>
                </div>
                <div class="checkbox-item">
                    <input type="checkbox" id="causas_naturais" name="causas_naturais">
                    <label for="causas_naturais">Causas naturais</label>
                </div>
                <div class="checkbox-item">
                    <input type="checkbox" id="nao_se_aplica" name="nao_se_aplica">
                    <label for="nao_se_aplica">Não se aplica (O evento não envolveu a morte de um membro próximo da família ou amigo
                        próximo).</label>
                </div>
            </div>
        </div>
    </div>

    <h3>Vivências</h3>
    <div id="vivencias-grupo" class="checkbox-group" style="display: none;">
        <div class="checkbox-item">
            <input type="checkbox" id="vivencia_direta" name="vivencia_direta">
            <label for="vivencia_direta">Aconteceu comigo diretamente</label>
        </div>
        
        <div class="checkbox-item">
            <input type="checkbox" id="vivencia_testemunha" name="vivencia_testemunha">
            <label for="vivencia_testemunha">Eu testemunhei este evento.</label>
        </div>
        
        <div class="checkbox-item">
            <input type="checkbox" id="vivencia_familiar_amigo" name="vivencia_familiar_amigo">
            <label for="vivencia_familiar_amigo">Eu fiquei sabendo que o evento aconteceu com um membro próximo da família ou amigo próximo.</label>
        </div>
        
        <div class="checkbox-item">
            <input type="checkbox" id="vivencia_trabalho" name="vivencia_trabalho">
            <label for="vivencia_trabalho">Eu fui exposto repetidamente a detalhes deste evento como parte do meu trabalho.</label>
        </div>
        
        <div class="checkbox-item">
            <input type="checkbox" id="vivencia_nenhuma" name="vivencia_nenhuma">
            <label for="vivencia_nenhuma">Não experimentei nenhum evento particularmente estressante.</label>
        </div>
        
        <div class="form-group">
            <label for="vivencia_outro">Outro:</label>
            <textarea id="vivencia_outro" name="vivencia_outro"></textarea>
        </div>
    </div>

                <div class="info-box">
                    <div class="info-title">
                        <i class="fas fa-info-circle"></i>
                        Informação Importante
                    </div>
                    <div class="info-text">
                        <p>Veja abaixo uma lista de problemas que as pessoas às vezes apresentam em
                            resposta a uma experiência muito estressante. Pensando em seu pior evento, por favor, leia
                            cuidadosamente cada problema e então escolha um dos números para indicar o quanto você tem sido
                            incomodado por este problema <strong>NO ÚLTIMO MES</strong>. <br> Considere a seguinte escala para escolher sua resposta:</p>
                        <ul>
                            <li>0 - De modo nenhum</li>
                            <li>1 - Um pouco</li>
                            <li>2 - Moderadamente</li>
                            <li>3 - Muito</li>
                            <li>4 - Extremamente</li>
                        </ul>
                    </div>
                </div>

    <h3>No último mês, quanto você foi incomodado por:</h3>
    <div class="likert-item">
        <div class="likert-header">
            <span class="likert-label">No último mês, quando você foi incomodado por lembranças indesejáveis, perturbadoras e
                repetitivas da experiência estressante?</span>
            <span class="likert-value">Neutro</span>
        </div>
        <input type="range" class="likert-range" id="impacto_lembracas" name="impacto_lembracas" min="0" max="4" value="2">
        <div class="likert-scale">
            <span class="scale-point">De modo nenhum</span>
            <span class="scale-point">Um pouco</span>
            <span class="scale-point">Moderadamente</span>
            <span class="scale-point">Muito</span>
            <span class="scale-point">Extremamente</span>
        </div>
    </div>

    <div class="likert-item">
        <div class="likert-header">
            <span class="likert-label">No último mês, quando você foi incomodado por sentir-se muito chateado quando algo
                lembra você da experiência estressante?</span>
            <span class="likert-value">Neutro</span>
        </div>
        <input type="range" class="likert-range" id="impacto_chateado" name="impacto_chateado" min="0" max="4" value="2">
        <div class="likert-scale">
            <span class="scale-point">De modo nenhum</span>
            <span class="scale-point">Um pouco</span>
            <span class="scale-point">Moderadamente</span>
            <span class="scale-point">Muito</span>
            <span class="scale-point">Extremamente</span>
        </div>
    </div>

    <div class="likert-item">
        <div class="likert-header">
            <span class="likert-label">No último mês, quando você foi incomodado por evitar lembranças, pensamentos, ou
                sentimentos relacionados à experiência estressante?</span>
            <span class="likert-value">Neutro</span>
        </div>
        <input type="range" class="likert-range" id="impacto_evitacao" name="impacto_evitacao" min="0" max="4" value="2">
        <div class="likert-scale">
            <span class="scale-point">De modo nenhum</span>
            <span class="scale-point">Um pouco</span>
            <span class="scale-point">Moderadamente</span>
            <span class="scale-point">Muito</span>
            <span class="scale-point">Extremamente</span>
        </div>
    </div>

    <div class="likert-item">
        <div class="likert-header">
            <span class="likert-label">No último mês, quando você foi incomodado por evitar lembranças externas da
                experiência estressante (por exemplo, pessoas, lugares, conversas, atividades, objetos ou
                situações)?</span>
            <span class="likert-value">Neutro</span>
        </div>
        <input type="range" class="likert-range" id="impacto_evitar_gatilhos" name="impacto_evitar_gatilhos" min="0" max="4" value="2">
        <div class="likert-scale">
            <span class="scale-point">De modo nenhum</span>
            <span class="scale-point">Um pouco</span>
            <span class="scale-point">Moderadamente</span>
            <span class="scale-point">Muito</span>
            <span class="scale-point">Extremamente</span>
        </div>
    </div>

    <div class="likert-item">
        <div class="likert-header">
            <span class="likert-label">No último mês, quando você foi incomodado por ter crenças negativas intensas sobre
                você, outras pessoas ou o mundo? (Por exemplo, ter pensamentos tais como: “Eu sou ruim”, “existe algo seriamente errado comigo”,
                “ninguém é confiável”, “o mundo todo é perigoso”.)</span>
            <span class="likert-value">Neutro</span>
        </div>
        <input type="range" class="likert-range" id="impacto_crencas" name="impacto_crencas" min="0" max="4" value="2">
        <div class="likert-scale">
            <span class="scale-point">De modo nenhum</span>
            <span class="scale-point">Um pouco</span>
            <span class="scale-point">Moderadamente</span>
            <span class="scale-point">Muito</span>
            <span class="scale-point">Extremamente</span>
        </div>
    </div>

    <div class="likert-item">
        <div class="likert-header">
            <span class="likert-label">No último mês, quando você foi incomodado por perder o interesse em atividades que
                você costumava apreciar?</span>
            <span class="likert-value">Neutro</span>
        </div>
        <input type="range" class="likert-range" id="impacto_perda_interesse" name="impacto_perda_interesse" min="0" max="4" value="2">
        <div class="likert-scale">
            <span class="scale-point">De modo nenhum</span>
            <span class="scale-point">Um pouco</span>
            <span class="scale-point">Moderadamente</span>
            <span class="scale-point">Muito</span>
            <span class="scale-point">Extremamente</span>
        </div>
    </div>

    <div class="likert-item">
        <div class="likert-header">
            <span class="likert-label">No último mês, quando você foi incomodado por ficar “super” alerta, vigilante ou de
                sobreaviso?</span>
            <span class="likert-value">Neutro</span>
        </div>
        <input type="range" class="likert-range" id="impacto_apreensao" name="impacto_apreensao" min="0" max="4" value="2">
        <div class="likert-scale">
            <span class="scale-point">De modo nenhum</span>
            <span class="scale-point">Um pouco</span>
            <span class="scale-point">Moderadamente</span>
            <span class="scale-point">Muito</span>
            <span class="scale-point">Extremamente</span>
        </div>
    </div>

    <div class="likert-item">
        <div class="likert-header">
            <span class="likert-label">No último mês, quando você foi incomodado por ter dificuldades para se concentrar?</span>
            <span class="likert-value">Neutro</span>
        </div>
        <input type="range" class="likert-range" id="impacto_concentracao" name="impacto_concentracao" min="0" max="4" value="2">
        <div class="likert-scale">
            <span class="scale-point">De modo nenhum</span>
            <span class="scale-point">Um pouco</span>
            <span class="scale-point">Moderadamente</span>
            <span class="scale-point">Muito</span>
            <span class="scale-point">Extremamente</span>
        </div>
    </div>
</div>

<!-- Adicionar botões de navegação -->
<div class="form-navigation">
    <button type="button" class="btn-nav btn-prev">Anterior</button>
    <button type="button" class="btn-nav btn-next">Próximo</button>
    <button type="submit" class="btn-nav btn-submit">Enviar</button>
</div>

</form>
</div>

<!-- Scripts necessários -->
<script src="{{ url_for('static', filename='js/form-validation.js') }}"></script>
<script>
    function fecharAlerta(botao) {
        const alerta = botao.parentElement;
        alerta.style.transition = "opacity 0.5s";
        alerta.style.opacity = "0";

        setTimeout(() => {
            alerta.remove();
        }, 500); // Tempo para a animação de transição antes de remover o elemento
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Seleciona todos os inputs do tipo range
        const rangeInputs = document.querySelectorAll('.likert-range');

        const valueTexts = [
            'De modo nenhum',
            'Um pouco',
            'Moderadamente',
            'Muito',
            'Extremamente'
        ];

        function updateValue(input) {
            
            const valueDisplay = input.closest('.likert-item').querySelector('.likert-value');
            if (valueDisplay) {
                
                switch(valueTexts[input.value]){
                    case "De modo nenhum":
                        input.style.cssText = "background: linear-gradient(to right, var(--secondary) var(--value-percent, 0%), var(--gray-50) var(--value-percent, 0%))";
                        break
                    case "Um pouco":
                        input.style.cssText = "background: linear-gradient(to right, var(--secondary) var(--value-percent, 25%), var(--gray-50) var(--value-percent, 25%))";
                        break
                    case "Moderadamente":
                        input.style.cssText = "background: linear-gradient(to right, var(--secondary) var(--value-percent, 50%), var(--gray-50) var(--value-percent, 50%))";
                        break
                    case "Muito":
                        input.style.cssText = "background: linear-gradient(to right, var(--secondary) var(--value-percent, 75%), var(--gray-50) var(--value-percent, 75%))";
                        break
                    case "Extremamente":
                        input.style.cssText = "background: linear-gradient(to right, var(--secondary) var(--value-percent, 100%), var(--gray-50) var(--value-percent, 100%))";
                        break
                }

                valueDisplay.textContent = valueTexts[input.value];
            }
        }

        rangeInputs.forEach(input => {
            // Atualiza valor inicial
            updateValue(input);

            // Listeners para diferentes tipos de eventos
            input.addEventListener('input', function() {
                updateValue(this);
            });

            input.addEventListener('change', function() {
                updateValue(this);
            });
        });

        // Adicionar o novo código para controlar a visibilidade
        const vivenciouTrauma = document.getElementById('vivenciou_trauma');
        const detalhesIntro = document.getElementById('detalhes-intro');
        const detalhesTrauma = document.getElementById('detalhes-trauma');
        const envolveuMorte = document.getElementById('envolveu_morte');
        const envolveuMorteGrupo = document.getElementById('envolveu-morte-grupo');
        const vivenciasGrupo = document.getElementById('vivencias-grupo');


        function toggleDetalhesTrauma() {
            const isTrauma = vivenciouTrauma.value === 'true';
            detalhesTrauma.style.display = isTrauma ? 'flex' : 'none';
            detalhesIntro.style.display = isTrauma ? 'block' : 'none';
            document.getElementById('causas-morte-grupo').style.display = isTrauma ? 'flex' : 'none';
            document.getElementById('vivencias-grupo').style.display = isTrauma ? 'flex' : 'none';
            document.getElementById('envolveu-morte-grupo').style.display = isTrauma ? 'flex' : 'none';
        }


        // Executar na inicialização
        toggleDetalhesTrauma();

        // Adicionar listener para mudanças
        vivenciouTrauma.addEventListener('change', toggleDetalhesTrauma);
    });
</script>

<style>
.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkbox-item {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.checkbox-item input[type="checkbox"] {
    margin-top: 4px;
}

.checkbox-item label {
    flex: 1;
    line-height: 1.4;
}
</style>
</body>
</html>